@import "../node_modules/bootstrap/scss/bootstrap.scss";

$carousel-indicator-width: 150px;
$carousel-indicator-height: 7px;
$carousel-indicator-spacer: 12px;
$carousel-indicator-opacity: 0.3;
$carousel-indicator-active-bg: #f4f1de;

$carousel-control-icon-width: 5rem;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

