:root {
  --light-yellow: #f4f1de;
  --dark-grey: #393d3f;
  --red-panda: #c83e19;
}


* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

a {
  text-decoration: none;
}

.about {
  margin: 20% 0;
  text-align: center;
}

.about p {
  font-family: lora;
  font-style: italic;
  font-weight: 400;
  font-size: 3rem;
  color: var(--dark-grey);
  margin-bottom: 2rem;
}

p.address,
p.address-dark {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
}

#button {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  background-color: var(--dark-grey);
  color: var(--light-yellow);
  padding: 5% 7%;
  border-radius: 8px;
  transition-duration: 0.4s;
  font-size: 1.5rem;
}

#button:hover {
  background-color: var(--red-panda);
}

.carousel-control-prev-icon {
  position: absolute;
  top: 65px;
  left: -25px;
}

.carousel-control-next-icon {
  position: absolute;
  top: 65px;
  right: -25px;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.certificates {
  background-color: var(--dark-grey);
  padding: 5% 5%;
  border-radius: 40px;
}

.container-fuid.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#container {
  background-color: var(--light-yellow);
}

#contactme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
  width: 90%;
  align-items: center;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}


.collapse {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0;
}

.disabled {
  opacity: 0.4;
  transition: 0.5s;
}

.disabled:hover {
  opacity: 1;
}

em {
  font-family: lora;
  font-style: italic;
  font-size: 3rem;
  color: var(--red-panda);
}

#follow {
  display: flex;
  flex-direction: row;

}

#follow img {
  display: inline;
  height: 80px;
  padding: 15%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
}

footer img:not(.icons) {
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  padding: 2% 0;
}

#flags {
  margin: auto 0;
  gap: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}


#flags li {
  list-style: none;
}


/*--------------FLIP CARD------------------*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  box-sizing: border-box;
  padding: 5% 0;
  width: 330px;
  height: 330px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  /* cursor: pointer; */
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--dark-grey);
  border-radius: 20px;

}

.flip-card-front img {
  width: 90%;
  height: 90%;
}

/* Style the back side */
.flip-card-back {
  background-color: var(--red-panda);
  color: var(--light-yellow);
  transform: rotateY(180deg);
  border-radius: 20px;
}

.flip-card-back-follow p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--light-yellow);
}

.flip-card-back-follow a img {
  height: 40%;
  width: max-content;
  color: var(--dark-grey);
}


/*--------------FLIP CARD------------------*/

h1 {
  font-family: "Poppins", sans-serif;
  padding-top: 3%;
  font-size: 2.2rem;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 3% 0 1% 0;
}


header {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  /*   margin-top: 80px;
 */
}

html {
  box-sizing: border-box;
  display: flex;
  background-color: var(--light-yellow);
  color: var(--dark-grey);
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 0.6rem;
}

#logo {
  padding: 1rem;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'48;
  color: var(--light-yellow);
  font-size: 12rem;
  vertical-align: middle;
}


.nav-link {
  color: var(--light-yellow);
  font-size: 1.5rem;
  margin: 0 2rem;

}

.nav-link:hover {
  color: var(--red-panda);
  font-size: 1.5rem;
}

.navbar {
  font-size: 0.5rem;
  padding: 0;
  background-color: var(--dark-grey);
  color: var(--light-yellow);
  
}


button.navbar-toggler {
  margin-right: 1.5rem;
}

.navbar-toggler {
  border-color: var(--light-yellow);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28244, 241, 222,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

#navs {
  display: flex;
  align-content: center;
  justify-content: center;

}


#navs ul li a {
  color: var(--light-yellow);
  text-decoration: none;
}

#navs ul li a:hover {
  color: var(--light-yellow);
  text-decoration: underline var(--red-panda);
}

#normal {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: justify;
  font-size: 1.7rem;
  padding: 0.1% 4%;
  text-indent: 3rem;
}

#normal-portfolio {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 2.8em;
  padding: 8% 0 0 0;
  color: var(--red-panda);
}

#me {
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m:
    left var(--_i, 0%) top var(--_g),
    bottom var(--_i, 0%) left var(--_g),
    top var(--_i, 0%) right var(--_g),
    right var(--_i, 0%) bottom var(--_g);
  -webkit-mask: var(--m);
  mask: var(--m);
  outline-offset: -200vmax;
  transition: .3s linear;
  cursor: pointer;
  padding-bottom: 6%;
  width: 90%;
}

#me:hover {
  --_i: 10%;
  outline-color: #0000;
}

p {
  font-family: lora;
  font-style: italic;
  font-weight: 400;
  font-size: 0.5rem;
  color: var(--light-yellow);
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  position: fixed;

}

.progress-bar {
  height: 8px;
  background: var(--red-panda);
  width: 0%;
}



.portfolio {
  margin: 100px auto;
}

.portfolio img {
  padding: 10px;
  width: 508px;
  height: auto;
  border-radius: 40px;
}

.skills {
  background-color: var(--dark-grey);
  padding: 7% 0 7% 0;
  border-radius: 40px;
}


#skills {
  font-size: 4rem;
  /*   padding-top: 70px;
 */
}

.square {
  box-sizing: border-box;
  background-color: rgb(112, 112, 112, 0.5);
  width: 150px;
  height: 150px;
  border-radius: 30px;
  margin: 10% 0;


  transition-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.square:hover {
  background-color: var(--red-panda);
  cursor: pointer;
}


.square img {
  width: 100%;
  max-width: 50%;
  height: auto;
  margin: 0 auto
}

.square p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0;
}


.table {
  padding: 10% 0 10% 0;
}


#why_list {
  padding: 5% 0 5% 0;
  text-align: left;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: var(--dark-grey);
  width: 1000px;
  display: inline;

}

#why_list img {
  width: 10%;
  margin: 20px 20px;
}

img.icons {
  max-width: max-content;
  /*   padding-right: 20px;
 */
}

div.containers {
  background-color: var(--light-yellow);
  text-align: center;
  padding: 0;
  margin: 0;
}

div.containers p {
  margin: 0;
}

/*--------------SKILLBAR------------------*/

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box
}

/* Container for skill bars */
.container-skill {
  width: 100%;
  /* Full width */
  background-color: var(--dark-grey);
  /* Grey background */
  color: var(--light-yellow);
  padding: 0 7%;
}

.skill-bar {
  padding: 5% 0 5% 0;
  font-family: "Poppins", sans-serif;

}

.skill-bar p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  padding: 1% 0;
  margin: 4% 0;
}


.skill-line {
  text-align: right;
  /* Right-align text */
  padding-top: 10px;
  /* Add top padding */
  padding-bottom: 10px;
  /* Add bottom padding */
  color: var(--light-yellow);
  /* White text color */
}

.html {
  width: 90%;
  background-color: #04AA6D;
}

/* Green */

.css {
  width: 80%;
  background-color: #2196F3;
}

/* Blue */

.bs {
  width: 65%;
  background-color: #f44336;
}

/* Red */

.js {
  width: 40%;
  background-color: #808080;
}

/* Dark Grey */


/*--------------SKILLBAR------------------*/

.carousel-inner img {
  padding: 0 0 20% 0;
  max-width: 90%;
  margin: 0 auto;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ...
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...
}